# 数据描述

In [1]:
#最后要提交的结果
    #FDDC_financial_submit.csv

#资产负债表
    #df_BalanceSheet_Sheet.xlsx
    #分为四个sheets：General Business, Bank, Securities,Insurance


#利润表
    #df_IncomeStatement_Statement.xlsx
    #分为四个sheets：General Business, Bank, Securities,Insurance

#现金流量表
    #GB_Cash_Flow_Statement.xlsx
    #分为四个sheets：General Business, Bank, Securities,Insurance

#宏观经济指标表
    #MacroIndustry.xlsx

#公司运营数据表
    #CompanyOperating.xlsx

#股票行情数据表
    #MarketData.xlsx

# 导入包

In [2]:
#将包MyDATools从ipynb文件自动转换为py文件
try:   
    !jupyter nbconvert --to python MyDATools.ipynb
except:
    pass

[NbConvertApp] Converting notebook MyDATools.ipynb to python
[NbConvertApp] Writing 27486 bytes to MyDATools.py

In [3]:
import os
import sys
import pandas as pd
import MyDATools as MyDATools #调用建的MyDATools
from datetime import datetime
import importlib

# 常量设置

In [4]:
#衍生变量与因子筛选变量设置：
N_QUANTILES = 80#分位数(分箱处理)
N_LAG = 5#偏移阶数
N_TREES = 100#因子筛选：树数量
P_FEATUREIMP = 0.9999#选择因子前多少百分比的重要性
P_FEATRUES = 0.8#随机森林特征选择比例
DATETIME_UNITS = "QUARTER"#YEAR，QUARTER，HALF
START_DATE = pd.Timestamp('2008-01-01')#年份开始时间
IS_ONEHOT =  False #是否进行one-hot编码

# 设置文件路径

In [5]:
#最后要提交的结果
PATH_SUBMIT_FILE = 'Data/FDDC_financial_submit.csv'

#资产负债表
PATH_BALANCESHEET_FILE = 'Data/BalanceSheet.xlsx'

#利润表
PATH_INCOMESTATEMENT_FILE = 'Data/IncomeStatement.xlsx'

#现金流量表
PATH_CASHFLOW_FILE = 'Data/CashFlowStatement.xlsx'

#宏观经济指标表
PATH_MACROINDUSTRY_FILE = 'Data/MacroIndustry.xlsx'

#公司运营数据表
PATH_COMPANYOPERATING_FILE = 'Data/CompanyOperating.xlsx'

#股票行情数据表
PATH_SHARES_FILE = 'Data/MarketData.xlsx'

In [6]:
print(PATH_BALANCESHEET_FILE)

Data/BalanceSheet.xlsx

# 读取数据

In [7]:
targetsymbol = pd.read_csv(PATH_SUBMIT_FILE, sep = ',', header = None)#预测对象

## 读取资产负债表

In [8]:
# %%time
# df_BalanceSheet = MyDATools.ExcelReader(PATH_BALANCESHEET_FILE)#资产负债表

# df_BalanceSheet

In [9]:
# df_BalanceSheet.getBank()

## 读取利润表

In [10]:
# %%time
# df_IncomeStatement = MyDATools.ExcelReader(PATH_INCOMESTATEMENT_FILE)#利润表
# df_IncomeStatement

## 读取现金流量表

In [11]:
# %%time
# df_CashFlow = MyDATools.ExcelReader(PATH_CASHFLOW_FILE)#现金流量表
# df_CashFlow

## 读取宏观经济指标表

In [12]:
%%time
df_indus = MyDATools.tidyMacroAndIndustryData(PATH_MACROINDUSTRY_FILE,DATETIME_UNITS)#宏观数据
df_indus

Wall time: 6.5 s

,year,month,DATA_VALUE1020000004,DATA_VALUE1020000008,DATA_VALUE1020001544,DATA_VALUE1030000014,DATA_VALUE1030000016,DATA_VALUE1030000018,DATA_VALUE1030000020,DATA_VALUE1040000046,...,DATA_VALUE2160001011,DATA_VALUE2160001523,DATA_VALUE2160002772,DATA_VALUE2170002035,DATA_VALUE2170702521,DATA_VALUE2170726263,DATA_VALUE2170726264,DATA_VALUE2170726265,DATA_VALUE2170726266,DATA_VALUE2210200588
0,1951,12,8.566667,5.800000,376.933333,60.700000,46.966667,55.466667,48.533333,-1.000000,...,304.666667,6.766667,33.633333,27194.000000,19603.153333,6.460656,7.135000,4.753279,1.349286,4.376667
1,1952,12,8.566667,5.800000,376.933333,60.700000,46.966667,55.466667,48.533333,-1.000000,...,304.666667,6.766667,33.633333,27194.000000,19603.153333,6.460656,7.135000,4.753279,1.349286,4.376667
2,1953,12,8.566667,5.800000,376.933333,60.700000,46.966667,55.466667,48.533333,-1.000000,...,304.666667,6.766667,33.633333,27194.000000,19603.153333,6.460656,7.135000,4.753279,1.349286,4.376667
3,1954,12,8.566667,5.800000,376.933333,60.700000,46.966667,55.466667,48.533333,-1.000000,...,304.666667,6.766667,33.633333,27194.000000,19603.153333,6.460656,7.135000,4.753279,1.349286,4.376667
4,1955,12,8.566667,5.800000,376.933333,60.700000,46.966667,55.466667,48.533333,-1.000000,...,304.666667,6.766667,33.633333,27194.000000,19603.153333,6.460656,7.135000,4.753279,1.349286,4.376667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,2017,09,6.336859,-2.833333,4089.000000,50.866667,45.266667,51.200000,48.566667,0.733333,...,13.333333,10.534200,4853.673100,62329.333333,19071.953333,1.971910,4.494500,2.264674,1.202381,7.120000
171,2017,12,6.170155,-1.300000,3884.733333,50.933333,46.000000,50.833333,48.333333,1.033333,...,17.666667,10.466733,4731.414967,59595.666667,21498.026667,3.033696,4.128864,3.374713,1.510778,7.326667
172,2018,03,6.436667,-1.100000,4017.400000,49.933333,47.000000,50.500000,49.233333,1.700000,...,12.000000,10.241733,4876.616433,57898.500000,17704.696667,1.552239,3.579865,2.009250,1.154000,7.743333
173,2018,06,6.900000,1.400000,3853.250000,50.566667,46.533333,50.366667,49.300000,1.300000,...,14.000000,11.173200,5043.710850,56348.500000,17797.935000,1.416981,4.041887,2.487170,1.050600,8.006667
174,2018,09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 读取公司运营数据表

In [13]:
%%time
df_comp = MyDATools.tidyCompOperatingData(PATH_COMPANYOPERATING_FILE,DATETIME_UNITS)#公司运营数据表
df_comp

Wall time: 545 ms

,TICKER_SYMBOL,year,month,VALUECOMP0,VALUECOMP1,VALUECOMP10,VALUECOMP11,VALUECOMP12,VALUECOMP13,VALUECOMP14,...,VALUECOMP29,VALUECOMP3,VALUECOMP30,VALUECOMP31,VALUECOMP4,VALUECOMP5,VALUECOMP6,VALUECOMP7,VALUECOMP8,VALUECOMP9
0,000089,2007,12,354.09,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,000089,2008,03,547.67,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,000089,2008,06,510.49,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,000089,2008,09,522.29,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,000089,2008,12,559.59,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,601898,2017,06,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,18970000.0,5421.0,0.0,0.0,0.0,0.0,0.0,0.0
665,601898,2017,09,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,19720000.0,5037.0,0.0,0.0,0.0,0.0,0.0,0.0
666,601898,2017,12,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,17580000.0,4969.0,0.0,0.0,0.0,0.0,0.0,0.0
667,601898,2018,03,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,17810000.0,5328.0,0.0,0.0,0.0,0.0,0.0,0.0
668,601898,2018,06,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,12570000.0,3752.0,0.0,0.0,0.0,0.0,0.0,0.0

## 股票行情数据表

In [14]:
%%time
df_share = MyDATools.tidyShareData(PATH_SHARES_FILE,DATETIME_UNITS)#股票行情数据表
df_share

Wall time: 49.4 s

,TICKER_SYMBOL,year,month,CLOSE_PRICE,TURNOVER_VOL,TURNOVER_VALUE,MARKET_VALUE
0,000001,2007,03,4.475000,7.087334e+08,1.257592e+10,3.700954e+10
1,000001,2007,06,6.660667,5.369438e+08,1.455421e+10,5.458244e+10
2,000001,2007,09,9.856667,5.749509e+08,2.014285e+10,7.944289e+10
3,000001,2007,12,10.592000,3.911309e+08,1.565396e+10,8.802817e+10
4,000001,2008,03,8.168667,4.643084e+08,1.544389e+10,7.235700e+10
...,...,...,...,...,...,...,...
113067,900957,2017,06,0.934667,1.268114e+07,1.201693e+07,3.261987e+08
113068,900957,2017,09,1.027000,1.759031e+07,1.807073e+07,3.584230e+08
113069,900957,2017,12,0.993000,7.090411e+06,7.235832e+06,3.465570e+08
113070,900957,2018,03,0.854667,6.829990e+06,6.016218e+06,2.982787e+08
113071,900957,2018,06,0.719000,5.400096e+06,3.859209e+06,2.509310e+08

## 上述表的临时存取

In [15]:
# 为了分解测试，以下数据写入磁盘
# df_BalanceSheet.getBank().to_csv("Data/df_BalanceSheet_Bank.csv")
# df_IncomeStatement.getBank().to_csv("Data/df_IncomeStatement_Bank.csv")
# df_indus.to_csv("Data/df_indus.csv")
# df_comp.to_csv("Data/df_comp.csv")
# df_share.to_csv("Data/df_share.csv")

In [16]:
df_indus = pd.read_csv("Data/df_indus.csv")
df_comp  = pd.read_csv("Data/df_comp.csv")
df_share = pd.read_csv("Data/df_share.csv")
df_BalanceSheet_Bank = pd.read_csv("Data/df_BalanceSheet_Bank.csv", index_col=0)
df_IncomeStatement_Bank = pd.read_csv("Data/df_IncomeStatement_Bank.csv", index_col=0)

# 数据规整化处理

In [17]:
# 生成 df_bank_toCreateFeature

df_bank = MyDATools.tidyBalanceAndIncomeData(df_BalanceSheet_Bank,df_IncomeStatement_Bank)

#为了分解测试和讲解，存入磁盘
df_bank.to_csv("Data/df_bank_toCreateFeature.csv")


#为了提高运行速度，上一行代码重写
df_bank_toCreateFeature=pd.read_csv("Data/df_bank_toCreateFeature.csv",
                                    index_col= 0, 
                                    converters={'END_DATE': pd.Timestamp})

    #此处，这两个属性是特别重要，否则后续代码出错
        #index_col= 0
        #converters={'END_DATE': pd.Timestamp}

# 生成特征矩阵

In [18]:
# 生成 df_bank_toSelectFeature
df_bank_toSelectFeature = MyDATools.createFeatureMatrix(df_bank_toCreateFeature,
                           df_indus,
                           df_comp,
                           df_share,
                           START_DATE=START_DATE,
                           IS_ONEHOT=IS_ONEHOT,
                           N_QUANTILES=N_QUANTILES,
                           N_LAG=N_LAG)

*合并..............
*删除方差为0的变量......
————调用函数featureEngineeringTimeSeriesData，生成窗口特征——————
————调用函数biningAndRankingData，开始为每个分箱分配排名值——————

In [19]:
 df_bank_toSelectFeature.to_csv("Data/df_bank_toSelectFeature.csv")

# 特征选择

In [20]:
# 生成 df_bank_toTrainModel

df_bank_toTrainModel,df_imp_bank = MyDATools.selectFeatures(df_bank_toSelectFeature,
                                                            P_FEATUREIMP,
                                                            n_estimators=N_TREES,
                                                            max_features=P_FEATRUES)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features=0.8, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                      oob_score=True, random_state=None, verbose=0,
                      warm_start=False)
特征选择结果：2572个特征，累计99.9900000%的重要性。

In [21]:
df_bank_toTrainModel.to_csv("Data/df_bank_toTrainModel.csv")

# 模型训练

In [22]:
# 生成df_bank_predicted
df_bank_predicted = MyDATools.trainModel(df_bank_toTrainModel,
                        LOG_N=10,
                        etr_EST = 25,
                        etr_FEAT = 0.8,
                        gbr_EST = 200,
                        gbr_FEAT = 0.8,
                        gbr_LRAT = 0.1, 
                        rf_EST = 25,
                        rf_FEAT = 0.8,
                        xgb_EST = 300,
                        xgb_SAM = 0.8,
                        xgb_LRAT =0.1,
                        AlgorithmsInEL=2)
print(df_bank_predicted)

C:\Users\soloman\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\soloman\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

[ExtraTreesRegressor(bootstrap=False, criterion='mse', max_depth=None,
                    max_features=0.8, max_leaf_nodes=None,
                    min_impurity_decrease=0.0, min_impurity_split=None,
                    min_samples_leaf=1, min_samples_split=2,
                    min_weight_fraction_leaf=0.0, n_estimators=25, n_jobs=None,
                    oob_score=False, random_state=None, verbose=0,
                    warm_start=False), GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=0.8, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=200,
                          n_iter_no_change=None, presort='auto',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False), RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features=0.8, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=25,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False), XGBRegressor(base_score=None, booster=None, colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None, gamma=None,
             gpu_id=None, importance_type='gain', interaction_constraints=None,
             learning_rate=0.1, max_delta_step=None, max_depth=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=300, n_jobs=None, num_parallel_tree=None,
             objective='reg:squarederror', random_state=None, reg_alpha=None,
             reg_lambda=None, scale_pos_weight=None, subsample=0.8,
             tree_method=None, validate_parameters=None, verbosity=None)]
   TICKER_SYMBOL       PRED
0              1   56687.96
1           2142   13280.74
2           2807    1234.43
3           2839    1241.21
4         600000   79842.85
5         600015   32332.47
6         600016   72474.31
7         600036  122069.38
8         600816    2694.18
9         600901    1250.80
10        600908    1494.83
11        600919   17932.11
12        600926    8539.83
13        601009   13603.67
14        601128    2480.53
15        601166   70609.46
16        601169   28072.49
17        601229   18441.77
18        601288  298257.97
19        601328   98581.23
20        601398  369622.64
21        601818   50791.77
22        601838    5470.28
23        601939  346683.52
24        601988  259082.46
25        601997    6533.39
26        601998   80756.82
27        603323    1405.16

In [23]:
#为了分解测试和讲解，暂存预测结果
df_bank_predicted.to_csv("Data/df_bank_predicted.csv")

# 模型预测

In [24]:
# 读入竞赛结果df_bank_predicted
df_FDDC_financial_submit = pd.read_csv(PATH_SUBMIT_FILE,
                            sep = '.',
                            header=None,
                            names = ['TICKER_SYMBOL','StockExchange'],
                            dtype = {'TICKER_SYMBOL':str, 'StockExchange':str})

#合并预测结果至FDDC_financial_submit
df_submit_with_predict = MyDATools.appendPredictToSubmit(df_FDDC_financial_submit,
                                                         df_bank_predicted)


#写入预测结果

import datetime
Result_Path = 'Data/submit_'+ datetime.datetime.now().strftime('%Y%m%dT%H')+'.csv'

df_submit_with_predict.to_csv(Result_Path,header=None,index =None)